<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/xterm.css" />
    <link rel="stylesheet" href="app.css" />
    <title>CC Director - Cockpit</title>
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="lib/xterm.js"></script>
    <script src="lib/xterm-addon-canvas.js"></script>
    <script src="js/cockpit-dictate.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
